*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.section {
  display: flex;
  padding: 80px;
  align-items: center;
  justify-content: center;
  background-color: hsl(212, 45%, 89%);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  max-width: 300px;
  min-height: 465px;
  border-radius: 15px;
  gap: 10px;
}

.card__qr-image {
  object-fit: cover;
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.card__heading {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
}

.card__text {
  font-weight: 300;
}
